# To do this worksheet you need to run the code by selecting the cell and pressing play

In [1]:
# Introduction to iloc in Pandas

# Import Pandas
import pandas as pd

# Create a simple dataset
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [25, 30, 35, 40, 45],
    "Grade": [85, 78, 92, 88, 95],
    "Subject": ["Math", "English", "History", "Math", "English"],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print("Dataset:")
print(df)

Dataset:
      Name  Age  Grade  Subject         City
0    Alice   25     85     Math     New York
1      Bob   30     78  English  Los Angeles
2  Charlie   35     92  History      Chicago
3    David   40     88     Math      Houston
4      Eve   45     95  English      Phoenix

# Section 1: Selecting Rows

In [14]:
# Select a specific cell by coordinates
print(df.iloc[0,0])

#what does this output?
print(df.iloc[1,1])


# Select the first row
print("First row:")
print(df.iloc[0])

# What does this output?


# Select the first 1-4 rows
print("\nFirst 1-4 rows:")



print()

# Select the last row

Alice
30
      Name  Age  Grade  Subject         City
0    Alice   25     85     Math     New York
1      Bob   30     78  English  Los Angeles
2  Charlie   35     92  History      Chicago
First row:
Name          Alice
Age              25
Grade            85
Subject        Math
City       New York
Name: 0, dtype: object
Name       Charlie
Age             35
Grade           92
Subject    History
City       Chicago
Name: 2, dtype: object

First 3 rows:
      Name  Age  Grade  Subject         City
1      Bob   30     78  English  Los Angeles
2  Charlie   35     92  History      Chicago
3    David   40     88     Math      Houston
4      Eve   45     95  English      Phoenix

Last row:
Name           Eve
Age             45
Grade           95
Subject    English
City       Phoenix
Name: 4, dtype: object

# Section 2: Selecting Columns

In [22]:
# Select the first column (Name)
print(df)
print("First column (Name):")
print(df.iloc[:, 0])

# What does this output?
print(df.iloc[:3, 3])


# Select the last two columns

      Name  Age  Grade  Subject         City
0    Alice   25     85     Math     New York
1      Bob   30     78  English  Los Angeles
2  Charlie   35     92  History      Chicago
3    David   40     88     Math      Houston
4      Eve   45     95  English      Phoenix
First column (Name):
0      Alice
1        Bob
2    Charlie
3      David
4        Eve
Name: Name, dtype: object
0       Math
1    English
2    History
Name: Subject, dtype: object

Last two columns:
   Grade  Subject         City
0     85     Math     New York
1     78  English  Los Angeles
2     92  History      Chicago
3     88     Math      Houston
4     95  English      Phoenix

# Section 3: Selecting Specific Rows and Columns

In [5]:
# Select the second row and the third column (Age and Grade)
print("Second row, third column:")
print(df.iloc[1, 2])

# Select the first two rows and the first two columns


# Select the last two rows and the last two columns

# Select the last two rows and the last two columns

Second row, third column:
78

First two rows, first two columns:
    Name  Age
0  Alice   25
1    Bob   30

Last two rows, last two columns:
   Subject     City
3     Math  Houston
4  English  Phoenix

Last two rows, last two columns:
3       Math
4    English
Name: Subject, dtype: object

# Tasks for Practice

Task 1: Extract all rows but only the Name and Grade columns

Task 2: Extract the data for the second and fourth rows

Task 3: Extract the data for the last three columns

In [ ]:
name_grade_allrows = df.iloc[:,df.loc[['Name', 'Grade']]]
print(name_grade_allrows)

## Challenge Task
Challenge: Calculate the average grade for students over 30 years old
Extract relevant rows and columns

91.66666666666667